# --- Entorno Python ---
venv/
__pycache__/
*.pyc
.env

# --- Datos Sensibles y Locales ---
data/
*.key
*.bin

# --- Herramientas de Desarrollo Local ---
recover_class.py

# --- Sistema y Docs ---
.DS_Store
Thumbs.db
docs/build/
docs/_build/