alabaster==1.0.0
astunparse==1.6.3
attrs==26.1.0
babel==2.18.0
beautifulsoup4==4.14.3
blinker==1.9.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
colorama==0.4.6
contourpy==1.3.2
cryptography==47.0.0
customtkinter==5.2.2
cycler==0.12.1
darkdetect==0.8.0
deepface==0.0.99
docutils==0.21.2
et_xmlfile==2.0.0
filelock==3.29.0
fire==0.7.1
Flask==3.1.3
flask-cors==6.0.2
flatbuffers==25.12.19
fonttools==4.62.1
gast==0.7.0
gdown==6.0.0
google-auth==2.50.0
google-auth-oauthlib==1.3.1
google-pasta==0.2.0
grpcio==1.80.0
gunicorn==25.3.0
h5py==3.14.0
idna==3.13
imagesize==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.3
keras==2.15.0
kiwisolver==1.5.0
libclang==18.1.1
#lightdsa==0.0.3
#lightecc==0.0.6
#lightphe==0.0.24
lz4==4.4.5
Markdown==3.10.2
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.9
mdurl==0.1.2
mediapipe==0.10.11
ml_dtypes==0.2.0
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
mtcnn==1.0.0
namex==0.1.0
numpy==1.26.4
oauthlib==3.3.1
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.19.0
packaging==26.2
pandas==2.3.3
pillow==12.2.0
protobuf==3.20.3
pyasn1==0.6.3
pyasn1_modules==0.4.2
pycparser==3.0
Pygments==2.20.0
pyparsing==3.3.2
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.33.1
requests-oauthlib==2.0.0
retina-face==0.0.17
rich==15.0.0
scipy==1.15.3
six==1.17.0
snowballstemmer==3.0.1
sounddevice==0.5.5
soupsieve==2.8.3
Sphinx==8.1.3
sphinx_rtd_theme==3.1.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sympy==1.14.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==3.3.0
tf-keras==2.15.0
tomli==2.4.1
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.2
urllib3==2.6.3
Werkzeug==3.1.8
wrapt==1.14.2
